

.card{
    border: solid 5px black;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    font-family: sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
}

.header{
    display: flex;
    background-color: #CCCCCC;


}


.avatar, img{
    width: 80px;
    border-radius: 50%;
    flex-grow: 2;
    display: flex;
    justify-content: baseline;
    
}


.user-info{
    justify-content: left;
    flex-grow: 5;
}

.stats{
    display: flex;
    justify-content: space-around;
    
}
.stat-item{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.actions{
    display: flex;
    gap: 10px;
    height: 30px;

}

.btn-primary{
    background-color: #00adef;
    display: flex;
    flex-grow: 3;
    border-radius: 5px;
    color: white;
    justify-content: center;
    align-items: center;

}

.btn-secondary{
    display: flex;
    flex-grow: 2;
    justify-content: center;
    border-radius: 5px;
    align-items: center;

}
