body {

    background-image: url("../images/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    text-align: center;
 }

h1 {
    background-color: #851126;
    color: white;
    border-left-width: 10px;
    border-left-color: white;
    border-style: solid;
    border-right: none;
    border-top: none;
    border-bottom: none;
    font-family: "Vend Sans", sans-serif;

}

img {
    border: 10px yellow solid;
    border-radius: 25px;
    box-shadow: 10px 5px 5px black;
    height: 500px;


}

ul {
    list-style-type: none;
    border-color: black;
    border-radius: 10%;

}

li {
    display: inline;
    border: 2px yellow solid;
}

a {
    color: white;
    
}