*{

}

body {
  background-color: #F1F0FF;
}

h1 {

  background-color:#C3C3E5;
  text-align: center;
  border-bottom: solid black 3px; 


}

img {
  border: solid black 5px;
  margin-right: 60px;

}

ul {

}

li {

}

p {
  
  text-indent: 40px; /* Es el sangrado, para ver desde donde empieza*/
  background-color: #C3C3E5;
  border: dashed;
  border-width: 4px; 
  margin: 3px;
  box-shadow: 0px 2px 4px 0px ;
  padding: 10px;
  

}

#header {
 
}

#content{
  
}

#text {
  
  width: 90%;
  margin-left: auto;
  margin-right: auto; 

}

#text p {
  
}

#text p:first-child {
  
  background-image: url(../images/fondoParrafo.png);
  border: dashed black;
  border-top-style: dashed;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-width: 4px;
  padding: 10px;
 

}

#text p:last-child {

  background-color: #C3C3E5;
  border: dashed black;
  border-top-style: dashed;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-width: 4px;
  padding: 10px;

}

#menu {

  text-align: center;

}

#menu a{

text-decoration: none;
color: black;
  
}


#menu li{

  
  display: inline;
  border-left: solid red 5px;

}

#menu li a:hover{
text-decoration: underline; 
color: red;

}

#footer{

  background-color: #443266;
  border-top: solid blue 5px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  text-align: center;
  color: white;
}

#footer a{

  color: white;

}

#footer a:hover{

}
#image {

  text-align: right;
  padding-top: 2px;
}

@media all and (max-width: 500px) {

  img {
    border: solid red 5px;
    width: 90%;
  }
#image {

  text-align: center;
}
  
}
